<div class="main">
  <h1>{{ pageTitle }}</h1>

  <div class="uploads">
    <input type="file" (change)="onFileSelected($event)" accept=".xlsx, .xls" /> <!-- Takes only file with .xlsx and .xls formate -->

    <div class="buttons">
       <button (click)="uploadFile()" class="file-upload-btn">Upload</button> <!-- show excel file data on UI, when clicked -->
      <button  (click)="pushData()" class="insert-db-btn">Push Data</button> <!-- POST excel file data to backend, when clicked -->
    </div>
  </div>
  <div *ngIf="uploadError" class="error-message"> {{ uploadError }}</div> <!-- Showing message to user -->
  <div *ngIf="uploadSuccess" class="success-message"> {{ uploadSuccess }}</div>
  <div class="ground">
    <div class="data-ground"> 
      <p *ngIf="!jsonDataObjects.length">First Row will be taken as header</p>
      <!-- show excel file data on UI via HTML Table tags-->
    <table *ngIf="jsonDataObjects.length > 0">
      <thead>
        <tr>
          <th *ngFor="let header of headers">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of jsonDataObjects">
          <td *ngFor="let header of headers">{{ row[header] }}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
